<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <form>
      <h1>Lorem</h1>
      <h5>Bacon ipsum dolor amet jowl bacon tenderloin hamburger capicola pork picanha swine boudin corned beef strip steak ground round chuck ribeye. Pig tri-tip venison hamburger biltong drumstick. Boudin shoulder ham hock turkey strip steak beef ribs rump porchetta beef shank chuck. Ribeye strip steak beef filet mignon sirloin chicken.</h5>
      <ion-input>
        <input type="email" id="username"
               placeholder="Username">
      </ion-input>
      <ion-input>
        <input type="password" id="password"
               placeholder="Password">
      </ion-input>
      <input type="submit" class="button button-positive" value="Bacon"/>
    </form>
  </ion-content>
</ion-view>
